body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
}
.container {
    width: 350px;
    margin: auto;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}
button {
    margin-top: 20px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    background: orange;
    border: none;
    border-radius: 6px;
}
.option {
    background: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.hidden {
    display: none;
}
